

#Title
{
    color: rgb(161, 17, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-top: 40px;
}

#COUNTER
{
    margin-top: 40px;
}

body
{
    text-align: center;
    background-image: url(../Images\\ImgOfNoteBook.jpg);
}

#InvisButton
{
    visibility: hidden;
}


/* index */

.SelectButtons button
{
    margin-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 30px 64px;
}
#PLAY_BUTTON
{
    margin-right: 120px;
    
}

/* gameScreen */

.OptionButtons button
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af7a4c;
    border: none;
    color: white;
    margin-top: 30px;
    padding: 15px 32px;
    
}

.GameActions
{
    margin-top: 60px;
}

img 
{
    margin: 50px;
    height: 160px;
}

#Rock
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#Paper
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 110px;
    margin-left: 110px;
    cursor: pointer;
}

#Scissors
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.Result
{   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}


/* howToPlay */

#TestTag
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#MainMENU
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 8px 48px;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#PlayBUTTON
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 8px 48px;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


#OffRulesRPSLink
{
    color: rgb(20, 8, 246);
}