




a
{
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
}

body
{
    text-align: center;
    background-image: url(../Images\\pexels-eva-bronzini-7598250.jpg);
}


.Result
{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}



#Rock
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Paper
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Scissors
{
    background-color: #af7a4c;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}







#Title
{
    color: rgb(161, 17, 6);
    font-family: Arial, Helvetica, sans-serif;
    

}











