



.Result
{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#Title
{
    color: rgb(91, 27, 242);
}



/*Button Style*/
.GameActions
{
    background-color: aqua;
}

#Rock
{
    background-color: rgb(13, 151, 22);
}

/* #backgroundIMG
{
    background-image: url(../Images\\pexels-eva-bronzini-7598250.jpg);
} */



